<!DOCTYPE html>
<html>
<head>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <title>piclicker</title>
</head>
<body>
	<button id="0">ON</button>
	<button id="1">OFF</button>
	<button id="2">A</button>
	<button id="3">B</button>
	<button id="4">C</button>
	<button id="5">D</button>
	<button id="6">E</button>

	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>